* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-family: arial, tahoma;
  list-style: none;
  /*    outline: 1px solid brown;*/
}



/*   End global   */



header {
  background:linear-gradient(to right,#fff,#22c1c3);
  height: 650px;
}

/*   Start navigation bar   */

nav {
  height: 101px;
  background-color: #000;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
  width: auto;
  float: left;
}

.logo img {
  height: 80px;
}

.list-item {
  margin-top: 40px;
  justify-content: center;
  display: flex;
}

.list-item li {
  padding: 10px;
  text-align: center;
  width: 120px;
  float: left;
  /* padding: 13px 13px; */
  font-size: small;
  border-radius: 3px;
  transition: all .7s ease-in-out;
}

.list-item li a {
  width: 150px;
  color: #fff;;
  font-weight: bold;
  font-size: 16px;
}

.list-item li:hover {
  background-color: brown;
}


.icons{
  margin-top: 30px;
  text-align: center;
  width: 200px;
  font-size: 20px;
  color: white;
  display: flex;
}

/*   End navigation bar   */





/*   Start nav bar for small screens   */

.icon {
  display: none;
}

.toggle {
  float: right;
  margin: 20px;
  color: #EEE;
  font-size: 30px;
  border: 1px solid #EEE;
  padding: 0px 5px;
  border-radius: 4px;
  cursor: pointer;
}

/*   End nav bar for small screens   */

/*   Start media query   */

@media (max-width: 1309px) {
  .icon {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #111;
    border-bottom: 1px solid #444;
  }

  .list-item {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
    background-color: #222;
    display: none;
  }

  .list-item li {
    text-align: center;
    display: block;
    border-bottom: 1px solid #333;
    float: none;
  }
}







